<div class="mdl-grid todos">
  <div class="mdl-cell mdl-cell--12-col">
    <router-outlet></router-outlet>
     
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <app-todos-list [todos]="todos"
                    [userId1]="userId1"
                    (selected)="selectTodo($event)"
                    (deleted)="deleteTodo($event)">
    </app-todos-list>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
   <app-todo-detail (saved)="saveTodo($event)"
                     (cancelled)="resetTodo($event)"
                     [todo]="selectedTodo">
      Select a Todo
    </app-todo-detail>
  </div>
</div>
